<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= quiz.name %></title>
    <link rel="stylesheet" href="/css/quiz_styles.css" />
  </head>
  <body>
    <div class="container">
      <h2><%= quiz.name %></h2>
      <form action="/quizzes/<%= quiz._id %>/submit" method="POST">
        <% quiz.questions.forEach((question, index) => { %>
        <div class="question">
          <p>
            <strong>Câu <%= index + 1 %>: <%= question.questionText %></strong>
          </p>
          <% question.options.forEach((option, optIndex) => { %>
          <label>
            <input
              type="radio"
              name="answers[<%= index %>]"
              value="<%= optIndex %>"
              required
            />
            <%= option %> </label
          ><br />
          <% }) %>
        </div>
        <% }) %>
        <button type="submit">Nộp bài</button>
      </form>
      <a href="/courses/<%= quiz.courseId %>">Quay lại khóa học</a>
    </div>
  </body>
</html>
